---
export const prerender = true;
---
<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/notes" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <a href="/notes">Go to Notes</a>
  </body>
</html>
